# Environments and packages
.venv/
env/
venv/
ENV/
__pycache__/
*.pyc

# Local runtime logs and system caches
*.log
.DS_Store
.ipynb_checkpoints/

# Data isolation rules (DVC friendly configuration)
data/raw/*
data/processed/*

# CRUCIAL: Tell Git NOT to ignore .dvc metadata configurations or .gitignores inside those paths
!data/raw/*.dvc
!data/processed/*.dvc
!data/raw/.gitignore
!data/processed/.gitignore

# IDE config files
.vscode/
.idea/